body, a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite;
}
header {
    background-color: sienna;
    padding: 1rem;
}
header #part_1 {
    display: flex;
    justify-content: space-between;
}
#part_1 #logo {
    /* width: 10%; */
    
    font-size: 4rem;
    rotate: -90deg;
    padding: 2rem;
}
#part_1 h1 {
    /* width: 50%; */
    font-size: 4rem;
}
#part_1 #social_links ul {
    /* width: 40%; */
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 1rem;


}
#social_links i {
    font-size: 2rem;
}
header h2 {
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}
#part_3 ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}
